<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>Noah Kellem</title>
    <!--<link rel="shortcut icon" href="/assets/img/favicon.png"/> -->
    <!--<link rel="stylesheet" type="text/css" href="/assets/style.css"/> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    {{{body}}}
  </body>
</html>
