/* Load in the fonts I want to use */
@font-face {
  font-family: JuliusSansOne;
  src: url('../fonts/JuliusSansOne-Regular.ttf');
}

@font-face {
  font-family: Raleway;
  src: url('../fonts/Raleway-Regular.ttf');
}

@font-face {
  font-family: Roboto;
  src: url('../fonts/Roboto-Regular.ttf');
}

/* Custom Scrollbar Styling */
::-webkit-scrollbar {
  width: 0px;
}

/* Custom CSS Variables and Other Global Styling Rules */
* {
  padding: 0;
  margin: 0;
  --custom-red: #FF0041;
  --custom-purple: #4200FF;
  --custom-green: #198127;
  --custom-yellow: #ffdf00;
  --normal-text-color: #333333;
  --box-border-color: black;
}

html, body {
  height: 100%;
  width: 100%;
}

.mainContent {
  height: 100%;
  width: 100%;
}

/* adding height of nav bar to each div as padding */
.innerContent {
  padding-top: 94px;
}

/* Styling rules for the nav bar */

nav {
  position: fixed;
  width: 100%;
  text-align: right;
  font-family: 'Raleway', sans-serif;
  font-size: 1.25em;
  padding-right: 50px;
  padding-top: 35px;
  padding-bottom: 35px;
  background-color: white;
  z-index: 1000;
}

.navLink {
  margin: 0 22.5px;
  text-decoration: none;
  color: var(--normal-text-color);
  border-bottom: 2px solid transparent;
  transition: border-bottom 1s;
}

#navResume {
  margin-right: 50px;
}

#navAbout:hover, #navAbout .active {
  border-bottom: 2px solid var(--custom-red);
}

#navProjects:hover {
  border-bottom: 2px solid var(--custom-purple);
}

#navContact:hover {
  border-bottom: 2px solid var(--custom-green);
}

#navResume:hover {
  border-bottom: 2px solid var(--custom-yellow);
}

/* Styling rules for the splash section */

#splash {
  text-align: center;
  overflow: hidden;
}

#splashLeft, #splashRight {
  display: inline-block;
}

#splashLeft {
  float: left;
  padding-top: 250px;
  width: 57%;
}

#splashLeft span {
  display: inline-block;
  text-align: left;
  margin-left: 50px;
}

#splashLeft h1 {
  font-size: 3.750em;
  font-family: 'JuliusSansOne', sans-serif;
  font-weight: normal;
  display: inline-block;
  border-bottom: 2px solid var(--custom-red);
  color: var(--normal-text-color);
  margin-bottom: 10px;
  -webkit-animation-duration: 2s;
  -webkit-animation-delay: 0.5s;
}

#splashLeft h2 {
  font-size: 2.500em;
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
  color: var(--normal-text-color);
  margin-top: 10px;
  -webkit-animation-duration: 2s;
  -webkit-animation-delay: 2.5s;
}

#portrait {
  width: 100%;
  height: auto;
  margin-top: 133px;
}

/* Styling rules for the about section */

#aboutLeft {
  float: left;
  width: 40%;
  text-align: right;
  display: inline-block;
}

#aboutRight {
  width: 60%;
  height: 100%;
  display: inline-block;
}

#aboutRight span {
  display: inline-block;
  margin-left: 195px;
  margin-top: 75px;
  width: 70%;
  height: 100%;
}

#aboutRight h1 {
  display: inline-block;
  font-weight: normal;
  font-family: 'JuliusSansOne', sans-serif;
  font-size: 2.500em;
  color: var(--normal-text-color);
  margin-top: 30px;
  margin-bottom: 15px;
}

#aboutFirstHeader {
  border-bottom: 2px solid var(--custom-red);
}

#aboutSecondHeader {
  border-bottom: 2px solid var(--custom-purple);
}

#aboutThirdHeader {
  border-bottom: 2px solid var(--custom-green);
}

#aboutRight p {
  font-size: 1.563em;
  font-family: 'Roboto', sans-serif;
  color: var(--normal-text-color);
  line-height: 35px;
}

#aboutRight a {
  text-decoration: none;
  color: var(--normal-text-color);
  border-bottom: 2px solid var(--custom-yellow);
  transition: 0.5s;
}

#aboutRight a:hover {
  color: var(--custom-yellow);
  transition: 0.5s;
}

#polaroid {
  width: 600px;
}

/* Style rules for the projects section */

.circle {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  border: 1px solid var(--normal-text-color);
  margin: 0 5px;
  transition: background-color 0.5s;
}

.projActive {
  background-color: var(--normal-text-color);
}

#projects {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

#projectsContent {
  overflow: hidden;
}

#projectsImg, #projectsCaption {
  display: inline-block;
}

#projectsImg {
  width: 49%;
  text-align: right;
  padding-left: 40px;

}

#projectsCaption {
  float: right;
  width: 46%;
  text-align: center;
}

#projectsCaption span{
  display: inline-block;
  text-align: left;
  width: 90%;
}

#projectsCaption h3 {
  display: inline-block;
  border-bottom: 2px solid var(--custom-purple);
  font-family: 'Raleway', sans-serif;
  font-size: 2em;
  font-weight: normal;
}

#projectsCaption p {
  font-family: 'Roboto', sans-serif;
  font-size: 1.25em;
  line-height: 27px;
  margin: 20px 0;
}

#projectsCaption a {
  text-decoration: none;
  color: var(--normal-text-color);
  border-bottom: 2px solid var(--custom-yellow);
  transition: 0.5s;
}

#projectsCaption a:hover {
  transition: 0.5s;
  color: var(--custom-yellow);
}

#projectsImg img {
  width: 100%;
  max-width: 844px;
  max-height: 438px;
  border-radius: 10px;
  border: 1px solid var(--normal-text-color);
}

#projectsPicker {
  text-align: center;
  padding-bottom: 100px;
  margin-top: 100px;
}

/* Styling rules for the contact section */

#contact {
  text-align: center;
}

#contactContent {
  padding-top: 174px;
}

#contactLeft, #contactRight {
  display: inline-block;
}

#contactLeft {
  width: 61%;
  text-align: right;
  float: left;
}

#contactLeft span, #contactRight span {
  text-align: left;
  display: inline-block;
}

#contactRight span {
  margin-top: 97px;
  margin-left: 45px;
}

#contactRight {
  width: 39%;
  text-align: left;
}

#contactLeft h1{
  font-family: 'JuliusSansOne', sans-serif;
  font-weight: normal;
  font-size: 3.750em;
  display: inline-block;
  border-bottom: 2px solid var(--custom-green);
  color: var(--normal-text-color);
}

#contactForm input, #contactForm textarea {
  color: #707070;
  font-family: 'Roboto', sans-serif;
  margin-top: 24px;
  font-size: 1.25em;
  border: 1px solid #707070;
  resize: none;
}

#contactForm {
  border-right: 2px solid #707070;
  margin-top: 25px;
  padding-right: 90px;
  padding-bottom: 100px;
}

#name, #email {
  height: 33px;
}

#name {
  width: 262px;
  margin-right: 30px;
}

#email {
  width: 359px;
}

#body {
  width: 651px;
  height: 258px;
  padding-top: 4px;
}

#name, #email, #body {
  padding-left: 4px;
}

#body, #submit {
  display: block;
}

#submit {
  width: 155px;
  height: 40px;
  background: white;
  transition: 0.5s;
  cursor: pointer;
  margin-top: 24px;
}

#submit:hover {
  transition: 0.5s;
  background-color: var(--custom-green);
  color: white;
}

#contactRight h3 {
  font-family: 'Raleway', sans-serif;
  font-size: 2.000em;
  font-weight: normal;
  color: var(--normal-text-color);
  display: inline-block;
  padding-top: 16px;
}

#contactRight div:nth-child(1) h3 {
  border-bottom: 2px solid var(--custom-red);
}

#contactRight div:nth-child(2) h3 {
  border-bottom: 2px solid var(--custom-purple);
}

#contactRight div:nth-child(3) h3 {
  border-bottom: 2px solid var(--custom-green);
}

#contactRight p {
  font-family: 'Roboto', sans-serif;
  font-size: 1.250em;
  color: var(--normal-text-color);
  padding-top: 5px;
}

#socialMedia {
  padding-top: 10px;
}

#socialMedia a {
  margin-right: 20px;
}

.toast {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
}

.error {
  color: var(--custom-red);
}

.success {
  color: var(--custom-green);
}

footer {
  font-family: 'Raleway', sans-serif;
  font-size: 1.250em;
  padding-left: 25px;
  padding-bottom: 25px;
  bottom: 0;
}

/* Media Queries for Responsiveness */
@media screen and (max-height: 900px) {
  #polaroid {
    width: 500px;
  }

  #aboutRight span {
    margin-top: 25px;
  }
}

@media screen and (max-height: 851px) {

  #portrait {
    width: 80%;
  }
}

@media screen and (max-height: 650px) {

  #splashLeft {
    padding-top: 200px;
  }
  #splashLeft span h1 {
    font-size: 3em;
  }

  #splashLeft span h2 {
    font-size: 2em;
  }

  #portrait {
    width: 60%;
  }

  #polaroid {
    width: 350px;
    margin-top: 20px;
  }

  #aboutRight span {
    margin-top: 0;
    margin-left: 126px;
  }

  #aboutRight span h1 {
    font-size: 1.75em;
  }

  #aboutRight span p {
    font-size: 1.15em;
  }
}

@media screen and (max-width: 1350px) and (max-height: 800px) {

  #contactLeft h1{
    font-size: 3.5em;
  }

  #contactForm {
    width: 635px;
    padding-right: 0px;
  }

  #name {
    width: 232px;
  }

  #email {
    width: 300px;
  }

  #body {
    width: 562px;
    height: 200px;
  }
}

@media screen and (max-width: 1300px) and (max-height: 900px) {
  #aboutRight span h1 {
    font-size: 2.25em;
  }

  #aboutRight span h2 {
    font-size: 1.25em;
  }
}

@media screen and (max-width: 1100px) and (max-height: 900px) {
  #polaroid {
    width: 400px;
  }

  #aboutRight span {
    margin-top: 0;
    margin-left: 126px;
  }

  #aboutRight span h1 {
    font-size: 1.55em;
    margin-bottom: 5px;
  }

  #aboutRight span p {
    font-size: 1.05em;
    line-height: 1.5em;
  }
}

@media screen and (max-height: 800px) {
  #splashLeft {
    padding-top: 150px;
  }

  #polaroid {
    width: 400px;
    margin-top: 20px;
  }

  #aboutRight {
    margin-top: 0px;
  }

  #aboutRight span {
    margin-top: 0;
    margin-left: 126px;
  }

  #aboutRight span h1 {
    font-size: 2em;
  }

  #aboutRight span p {
    font-size: 1.25em;
  }

  #projectsContent {
    padding-top: 94px;
  }
}

@media screen and (max-width: 1024px) and (max-height: 700px) {

  nav {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 1em;
  }

  #aboutRight span h1 {
    font-size: 1.5em;
    margin-top: 10px;
  }

  #aboutRight span p {
    font-size: 1em;
  }

  #projectsCaption h3 {
    font-size: 1.75em;
  }

  #projectsCaption p {
    font-size: 1em;
    margin: 10px 0;
  }
}

/* iPad Pro - 1024x1366 */
@media screen and (max-width: 1024px) {

  /* Splash Section */
  #splash {
    padding-top: 50px;
  }

  #splashLeft {
    width: 47%;
  }

  #splashLeft span h1 {
    font-size: 3em;
  }

  #splashLeft span h2 {
    font-size: 2em;
  }

  /* About Me Section */
  #about {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #about .innerContent {
    padding: 0;
  }

  #aboutLeft {
    width: 100%;
    float: none;
    text-align: center;
  }

  #polaroid {
    width: 400px;
    height: inherit;
  }

  #aboutRight {
    width: 100%;
    text-align: center;

  }

  #aboutRight, #aboutRight span {
    height: inherit;
  }

  #aboutRight span {
    text-align: left;
    width: 80%;
    margin: 0;
  }

  /* Projects Section */
  #projectsImg {
    display: block;
    width: inherit;
    padding-left: 0px;
    text-align: center;
  }

  #projectsCaption {
    display: block;
    float: none;
    width: inherit;
    padding-top: 20px;
  }

  #projectsCaption span {
    width: 83%;
    text-align: center;
  }

  #projectsCaption span p:nth-child(-n+3) {
    text-align: left;
  }

  /* Contact Section */
  #contact {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #contactContent {
    padding-top: 0px;
  }

  #contactLeft {
    display: block;
    width: inherit;
    float: none;
    text-align: center;
  }

  #contactForm {
    border: none;
    padding: 0;
  }

  #contactRight {
    display: block;
    width: inherit;
    margin-top: 20px;
  }

  #contactRight span {
    margin: 0;
  }

  #contactRight span h3 {
    font-size: 3em;
  }

  #contactRight span p {
    font-size: 2.5em;
  }

  #contactRight span img {
    width: 64px;
  }

}

@media screen and (max-width: 1024px) and (max-height: 900px) {
  #portrait {
    width: 70%;
  }

  #polaroid {
    width: 200px;
  }

  #projectsContent {
    padding-top: 94px;
  }

  #projectsImg img {
    width: 50%;
  }

  #projectsPicker {
    margin-top: 20px;
  }

  #contactContent {
    padding-top: 50px;
  }

  #contactLeft h1 {
    font-size: 2.5em;
  }

  #contactForm {
    margin-top: 0;
  }

  #name {
    width: 232px;
  }

  #email {
    width: 300px;
  }

  #body {
    width: 562px;
    height: 200px;
  }

  #contactRight h3 {
    font-size: 1.5em !important;
  }

  #contactRight p {
    font-size: 1em !important;
  }

  #socialMedia img {
    width: 40px !important;
  }
}

@media screen and (max-width: 768px) and (max-height: 1024px) {

  nav {
    width: 100%;
  }

  .navLink {
    font-size: 0.75em;
    margin: 10px;
  }

  .mainContent {
    overflow-x: hidden;
  }

  .innerContent {
    width: 100%;
  }

  #portrait {
    width: 70%;
    margin-top: 50px;
  }

  #splashLeft {
    display: block;
    width: 100%;
    padding-top: 60px
  }

  #splashLeft span {
    margin-left: 0;
  }

  #polaroid {
    width: 200px;
  }

  #aboutRight h1 {
    font-size: 2em;
  }

  #projectsContent {
    margin-top: 94px;
  }

  #projectsImg img {
    width: 70%;
  }

  #contactForm {
    margin-top: 0;
  }

  #contactRight span {
    margin-left: 42px;
  }

  #contactRight span h3 {
    font-size: 2.5em;
  }

  #contactRight span p {
    font-size: 2em;
  }
}

@media screen and (max-width: 430px) {

  nav {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  #splash{
    padding: 0;
  }

  #splashRight{
    display: block;
  }

  #splashLeft {
    float: none;
    display: block;
    width: 100%;
  }

  #splashLeft span {
    margin-top: 60px;
  }

  #splashLeft span h1 {
    font-size: 2em;
  }

  #splashLeft span h2 {
    font-size: 1.25em;
  }

  #portrait {
    width: 50%;
  }

  #polaroid {
    width: 150px;
    margin-top: 15px;
  }

  #projectsContent {
    margin-top: 0px;
  }

  #projectsCaption h3 {
    font-size: 1.5em;
  }

  #projectsCaption p {
    font-size: 1em;
    line-height: 20px;
  }

  #contactRight {
    text-align: center;
  }

  #contactRight span {
    margin-left: 0px;
  }

  #contactForm {
    width: 100%;
  }

  #contactLeft h1 {
    font-size: 2em;
  }

  #contactForm input {
    width: 100%;
  }

  #email {
    display: block;
  }

  #body {
    width: 100%;
  }
}

@media screen and (max-width: 430px) and (max-height: 750px) {

  nav {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  #splashLeft span {
    margin-top: 30px;
  }

  #aboutRight span h1 {
    font-size: 1.25em;
    margin-top: 15px;
  }

  #aboutRight span p {
    font-size: 1em;
  }

  #body {
    height: 150px;
  }
}
