<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Noah Kellem</title>
    <meta charset="utf-8">
    <script crossorigin src="https://unpkg.com/react@15/dist/react.min.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
    <script crossorigin src="https://unpkg.com/prop-types/prop-types.min.js"></script>
		<link rel="stylesheet" href="/assets/css/animate.min.css">
    <link rel="stylesheet" href="/assets/css/stylesheet.css">
  </head>
  <body>
    <nav></nav>
    <div id="splash" class="mainContent">
    </div>
		<div id="about" class="mainContent">
    </div>
		<div id="projects" class="mainContent">
    </div>
		<div id="contact" class="mainContent">
    </div>
    <footer>&copy; Noah Kellem</footer>
    <script src="/assets/js/libraries/serialize-0.2.min.js"></script>
    <script src="/assets/js/libraries/zenscroll-min.js"></script>
    <script src="/assets/bundle/bundle.js"></script>
  </body>
</html>
